#block-user-login {
    background: rgba(0,0,0,.7);
    font-family: ubuntu;
    color: #fff;
}
#block-user-login h2 {
    border-bottom: 2px solid #666;
}
#block-user-login input[type=text] {
    width: 160px;
    border: 0;
    outline: none;
    background: #fff;
}
#block-user-login input[type=password] {
    width: 160px;
    border: 0;
    outline: none;
}
#block-user-login input[type=submit] {
    width: 168px;
    height: 30px;
    border: 0;
    border-radius: 0;
    outline: none;
    font-weight: bold;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #ccc !important; /* Цвет фона */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    color: #000 !important; /* цвет текста */
}
#block-user-login ul {
    list-style: none;
}
#block-user-login a {
    color: #fff;
}